:root {
  --primary: #5d3eff;
  --white: #fff;
  --light: #f1f1f1;
  --light-gray: #ccc;
  --input: #f5f8fa;
  --input--border: #d3e2e5;
  --emphasized-gray: #8fa7b2;
  --text: #333;
  --shadow-text: #52495a;
}

body {
  background-color: var(--blue);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/bg.png");
  background-color: var(--light-gray);
  background-size: cover;
  background-position: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
