<div class="container">
  <h1>Upload your file here:</h1>

  <div id="file-field">
    <%= form_with url:"/matches" do |form| %>
      <%= form.file_field :file %>
      <%= form.submit "Upload", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= link_to "Back", matches_path, class: "back" %>
</div>