<div class="container">
  <h1>Faça upload do seu arquivo de log aqui:</h1>

  <div id="file-field">
    <%= form_with url:"/matches" do |form| %>
      <%= form.file_field :file %>
      <%= form.submit "Criar Ranking", class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <%= link_to "Back", matches_path, class: "back" %>
</div>