body {
  font-family: 'Poppins', sans-serif;
 }

.container {
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #4D4D4D;
  font-size: 32px;
  margin: 46px 0 24px 0;
}

h2 {
  color: #6D6D6D;
  font-size: 24px;
  margin: 46px 0 16px 0;
}

th, tbody {
  text-align: center;
}

table td, table th {
  font-size: 18px;
  padding: 16px !important;
}

table th {
  font-weight: 500;
}

#name {
  color:  #4D4D4D;
}

#frags {
  color:  royalblue;
}

#deaths {
  color: crimson;
}

#favorite-gun {
  color: darkorange;
}

#awards {
  color: green;
}

#five-kills {
  color: black;
}

input[type='file'] {
  font-size: 18px;
  padding-left: 8px;
}

input[type='submit'] {
  border: 0;
  padding: 8px 16px;
  border-radius: 5px;
}

.back {
  margin-top: 72px;
  font-size: 20px;
}

#file-field {
  margin-top: 32px;
}

.time {
  color: #6D6D6D;
}

.badge {
  padding: 8px;
}