<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="main-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="main-nav" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to root_url, class: 'navbar-item' do %>
        <span>Home</span>
        <% end %>

      </div>
    </div>
  </nav>
</div>
